.bh-footer {
    background: url(../images/footer-img.png) repeat-x top center,#1dcc66 repeat-x bottom center;
    color: #ffffff;
    padding: 55px 0 0;
}
.kd-pagesection {
  
    background: rgb(255, 255, 255);
}
.bh-footer .col-md-2 {padding-top: 0px !important;}

.testimonial_spch_babl_brdr_carousel_text p {
    padding: 15px;
    margin: 1em 0 2em;
    position: relative;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	padding: 15px;
    margin: 1em 0 2em;
    position: relative;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    color: #888;
       border: 2px solid #1dcc66;
	    background: #fff;
}
.testimoanil-sliderrrr {
    padding: 22px 0 43px;
    background: rgba(236, 236, 236, 0.55);
}
.testimonial_spch_babl_brdr_carousel_image img {
    width: 100%;
    min-width: 35px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.testimonial_spch_babl_brdr_carousel_text>p:before {
    left: 30px;
    content: "";
    bottom: -14px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 14px 14px 0;
}
.testimonial_spch_babl_brdr_carousel_text>p:before {
    border-color: #1dcc66 transparent;
}

 .testimonial_spch_babl_brdr_carousel_text>p>i {
    margin-right: 5px;
}
.testimonial_spch_babl_brdr_carousel_text>p:after {
    border-color: #fff transparent;
}
.testimonial_spch_babl_brdr_carousel_author {
    padding-left: 5px;
    padding-right: 5px;
}
.testimonial_spch_babl_brdr_carousel_author>h5 {
    color: #1dcc66;
}

 
.testimonial_spch_babl_brdr_carousel_author>h5 {
    font-weight: 600;
    margin: 5px 0 5px 0;
    text-transform: capitalize;
    font-family: 'Open Sans',sans-serif;
}
.testimonial_spch_babl_brdr_carousel_author>a, .testimonial_spch_babl_brdr_carousel_author>a:visited {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 0 5px 0;
    text-transform: capitalize;
    font-family: 'Raleway',sans-serif;
    -webkit-transition: color .3s ease 0s;
    transition: color .3s ease 0s;
	    color: #888;
}
.testimonial_spch_babl_brdr_carousel_text>p:after {
    left: 33px;
    content: "";
    bottom: -11px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 11px 11px 0;
}
.testimonial_spch_babl_brdr_carousel_text>p:after {
    border-color: #fff transparent;
}





.testimoanil-sliderrrr .carousel-indicators {
  
     bottom: -19px;

    top: auto !important;
   width: 100% !important;
}

 
 

 
.testimoanil-sliderrrr .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.78)!important;
    border: 1px solid #1dcc66!important;
    border-radius: 0px!important;
    cursor: pointer;
    display: inline-block;
    height: 5px !important;
    margin: 2px 0px!important;
    text-indent: inherit!important;
    width: 10px !important;
    padding: 8px 10px 7px 10px;
    color: #000 !important;
    font-size: 14px!important;
    height: 10px !important;
    opacity: 1;
    position: relative;
    text-align: left;
    float: none;
    border-radius: 100% !important;
}
 
.testimoanil-sliderrrr .carousel-indicators .active {
    
    background-color: #1dcc66!important;
}


.new-bh-gallery{    padding: 30px 00 21px;}




.new-bh-gallery .carousel-inner > .item > img, .new-bh-gallery .carousel-inner > .item > a > img {
    width: 100%;
    min-height: 427px;
    max-height: 427px;
}
.new-bh-gallery .thumbnail > img, .new-bh-gallery .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
    min-height: 101px;
    max-height: 101px;
    width: 100%;
}




/*
 * 1. core styles
 */

.our-team-bh-member .teamy{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.our-team-bh-member .teamy__layout{
    position: relative;
}

.our-team-bh-member .teamy__preview{
    position: relative;
    overflow: hidden;
}

.our-team-bh-member .teamy__avatar {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
    min-height: 313px;
    max-height: 313px;
    width: 100%;
}

.our-team-bh-member .teamy__preview:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.our-team-bh-member .teamy__back{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    opacity: 0;
    will-change: opacity;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.our-team-bh-member .teamy:hover .teamy__back{
  opacity: 1;
  height: 100%;
  transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}

.our-team-bh-member .teamy__name{
    margin-top: 0;
    margin-bottom: 0;
}

.our-team-bh-member .teamy__post{
    display: block;
}

/*
 * 2. visual styles
 */

/* common styles for visual styles */

 .our-team-bh-member .teamy__back{
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
 }

.our-team-bh-member .teamy__content{
     padding: 20px;
}

.our-team-bh-member .teamy__name{
    font-size: 1.3em;
}

.our-team-bh-member .teamy__post{
    margin-top: .5em;
    font-size: .8em;
    text-transform: uppercase;
}

/* style 1 */

.our-team-bh-member .teamy_style1{
    text-align: center;
}

/* style 2 */
.our-team-bh-member .teamy {
 
    float: left;
}

 
/* style 2 */
 #first-slider .carousel-indicators li.active {
    background-color: rgb(29, 204, 102) !important;
}
/*
 * 3. masks
 */

/* mask circle */

.our-team-bh-member .teamy_mask-circle .teamy__preview:before{
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;

    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.our-team-bh-member .teamy_mask-circle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
}

/* mask triangle */

.our-team-bh-member .teamy_mask-triangle .teamy__preview:before{
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
    clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

    transition-property: transform, opacity;
    transition-duration: .2s, .4s;
    transition-delay: .4s, 0s;
    transition-timing-function: ease-out;

    will-change: transform, opacity;
    transform: translate(-50%, -50%) scale(1);
}

.our-team-bh-member .teamy_mask-triangle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(5);
    transition-delay: .1s, 0s;
    transition-duration: .4s;
}

/*
 * 4. animations for preview
 */

/* zoom */

.our-team-bh-member .teamy_zoom-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1);
}

.our-team-bh-member .teamy_zoom-photo:hover .teamy__avatar{
    transform: scale(1.2);
}

/* zoom and rotate */

.our-team-bh-member .teamy_zoom-rotate-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) rotate(0);
}

.our-team-bh-member .teamy_zoom-rotate-photo:hover .teamy__avatar{
    transform: scale(1.2) rotate(5deg);
}

/* zoom and slide */

.our-team-bh-member .teamy_zoom-slide-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0);
}

.our-team-bh-member .teamy_zoom-slide-photo:hover .teamy__avatar{
    transform: scale(1.2) translate(4%, 4%);
}

/*
 * 5. default skin
 */

.our-team-bh-member .teamy__preview:before {
    background-color: rgb(29, 204, 102);
}

.our-team-bh-member .teamy_style2, .teamy_style3{
    color: #fff;
}

.our-team-bh-member .teamy_style2 .teamy__content{
    background-color: rgba(72, 27, 174, .85);
}


/*
* demo page
*/
 
 

 
 

.our-team-bh-member .our-team-bh-member .page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.our-team-bh-member .our-team-bh-member .page__demo{
  flex-grow: 1;
}

 
 
 

/* layout */

 
.our-team-bh-member .section:nth-of-type(even){
	background-color: var(--colorGray);
}
 
.our-team-bh-member .section__hint{
	font-size: 1.4rem;
	display: block;
	margin-top: 1rem;
}

.our-team-bh-member .section__content{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

@media screen and (min-width: 641px){
 

 

	.our-team-bh-member .section__content{
		justify-content: center;
	}
}
 
 
/* demo params */

.our-team-bh-member .teamy__preview:before{
    background-color: var(--demoColorMask, rgba(72, 27, 174, .7));
}

.our-team-bh-member .teamy_style2 .teamy__content{
    background-color: var(--demoColorContent, rgba(72, 27, 174, .85));
}

/* social buttons */

.our-team-bh-member .social {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 10px;
    background-color: #fff;
    border-radius: 100%;
    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #1dcc66;
    font-size: 21px;
}




.our-team-bh-member .social .fa{line-height: 27px;}



.our-team-bh-member .social__icon{
    width: 100%;
    height: 100%;
    fill: rgba(72, 27, 174, 1);
    fill: var(--demoColorIcon, rgba(72, 27, 174, 1));  
}

.our-team-bh-member .social__name{
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 640px){

   .our-team-bh-member  .preview-options{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--colorGray);
    }
}

@media screen and (min-width: 641px){

    .our-team-bh-member .preview-options{
        background-color: var(--colorGray);
    }
}

/* grid */

.our-team-bh-member .teamy-team {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 849px){

    .our-team-bh-member .teamy {
    width: 25%;
    float: left;
}
}

@media screen and (min-width: 425px) and (max-width: 848px){

    .our-team-bh-member .teamy{
         width: 50%;
     }
}

@media screen and (max-width: 424px){

     .our-team-bh-member .teamy{
         width: 100%;
     }

    .our-team-bh-member .teamy:not(:first-child){
         margin-top: 3rem;
     }
}


.our-team-bh-member{background: rgb(244, 244, 244);
    padding: 24px 0 12px;}
.mobilenewss .mobilbtn {
    width: 82%;
    height: 55px;
    margin-top: 4px;
    font-size: 17px;
    padding: 0 10px 0;
    border: solid 2px rgb(29, 204, 102)!important;
    color: #141513!important;
    background: transparent;
    border-radius: 0;
}
.new-addres-box{    border: 1px solid #000;
    overflow: hidden;}


	
	
.new-career {
    background: #ffffff;
    padding: 30px 0 30px;
}
	
	.career-descri{
    margin-bottom: 21px;
    border: 1px solid;
    padding: 14px 25px 28px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.18);
    background: rgb(255, 255, 255);
    border-color: #1dcc66;
}
	
.k-apply{background: #1dcc66;
    color: #fff;
    padding: 5px 25px 5px;
    text-transform: capitalize;
    font-size: 13px;
    display: inline-block;}	
	
	
.col-maf {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
 .col-maf:after {
    content: "";
    background: #e73827;
    background: -moz-linear-gradient(top, hsla(5,80%,53%,1) 0%, hsla(7,88%,52%,1) 29%, hsla(7,93%,51%,1) 49%, hsla(8,84%,65%,1) 50%, hsla(9,93%,58%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(5,80%,53%,1) 0%,hsla(7,88%,52%,1) 29%,hsla(7,93%,51%,1) 49%,hsla(8,84%,65%,1) 50%,hsla(9,93%,58%,1) 100%);
    background: linear-gradient(to bottom, hsla(5,80%,53%,1) 0%,hsla(7,88%,52%,1) 29%,hsla(7,93%,51%,1) 49%,hsla(8,84%,65%,1) 50%,hsla(9,93%,58%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f85032',GradientType=0 );
    width: 152px;
    height: 152px;
    position: absolute;
    bottom: -11px;
    right: -9px;
}
.col-maf:before {
    content: "";
    width: 152px;
    height: 152px;
    position: absolute;
    top: -3px;
    left: -9px;
    background: #b4e391;
    background: -moz-linear-gradient(top, hsla(94,60%,73%,1) 0%, hsla(95,77%,44%,1) 50%, hsla(94,60%,73%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(94,60%,73%,1) 0%,hsla(95,77%,44%,1) 50%,hsla(94,60%,73%,1) 100%);
    background: linear-gradient(to bottom, hsla(94,60%,73%,1) 0%,hsla(95,77%,44%,1) 50%,hsla(94,60%,73%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );
}
 
 
 
 
.col-maf img {
    padding: 2px;
    margin: 9px 0 0;
    width: 100%;
    min-height: 263px;
    max-height: 258px;
    /* border: 6px solid rgba(139, 195, 74, 0.21); */
    z-index: 9;
    position: relative;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
}
 
 
 .main-title {
    text-align: center;
    margin: 2px 0 22px;
    padding: 6px 0 6px;
    font-size: 27px !important;
    color: #475d2f !important;
    text-transform: uppercase;
    position: relative;
}




.main-title:after {
    content: "";
    position: absolute;
    width: 113px;
    height: 1px;
    background: #ffffff;
    bottom: 0;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
   border-top: 4px double #1dcc66;
}
.main-title:before {
    content: "";
    position: absolute;
    width: 113px;
    height: 1px;
    background: #ffffff;
    top: 0;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
  border-top: 4px double #1dcc66;
}

.new-btn-about {
    text-align: right;
}
.new-btn-about a{background: #1dcc66;
    color: #fff;
    padding: 6px 13px 6px;
    display: inline-block;}
 
.new-about-section {
    background: #fff;
    padding: 30px 0 30px;
}
.topbar {
     
    background-color: #f4f4f4;
  
}
.bgc-carmine-pink {
    background-color: rgb(139, 195, 74);
}
.new-about-section p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
}
.our-new-couress {
    background: #f4f4f4;
    padding: 30px 0 30px;
}
.our-new-couress .product-old h5 a {
    color: #ffffff !important;
    padding: 0;
    font-weight: 900;
}
.our-new-couress .product-old {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(139, 195, 74, 0.82);
    bottom: 0;
    min-height: 109px;
    max-height: 109px;
    padding-top: 39px;
}

.col-item {
   
    position: relative;
}


.our-new-couress .btn-success {
    color: #fff;
    background-color: #1dcc66;
    border-color: #1dcc66;
    border-radius: 0;
}

.our-new-couress .controls {    margin-top: -21px;}


.holder {
    background-color: #ffffff;
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    font-family: Helvetica;
    border-left: 1px solid #1dcc66;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:300px;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}

 
.holder ul li {
    cursor: pointer;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(195, 195, 195, 0.42);
}


 
.holder ul li span {
    color: #007d34;
    background: rgb(218, 216, 216);
    display: inline-block;
    padding: 5px 4px 5px;
    margin-right: 6px;
}
.holder ul li a {    cursor: pointer;
  color:#000;
  text-decoration:none;
}

.cuurent-section-news {
    background: #fff;
    padding: 30px 0 30px;
}

.current-box h3 {
    border-bottom: 1px solid #1dcc66;
    margin-bottom: 1px;
    padding: 0 0 7px;
    /* border-left: 3px solid #1dcc66; */
    /* padding-left: 6px; */
    font-weight: 600;
    color: #F44336;
}
.current-box{}

.nav > li > a {
   
    border-bottom: 3px solid #1dcc66;
}
.bgc-carmine-pink {
    background-color: #1dcc66;
}
.site-navigation li a {
    border: 1px solid rgb(139, 195, 74);
  
    border-radius: 18px;
    padding: 8px 32px 9px!important;
    font-size: 14px;
 
    background: #1dcc66;
   
}
.comonn-btn {
   
   
    background-color: #1dcc66;
    border-radius: 0 !important;
}
.p-foodas {
    
    color: #ffffff;
     
}
.footer-links--big li {
    /* display: inline-block; */
    color: #ffffff;
     
}
.afoot p {
    color: rgba(255, 255, 255, 0.75);
 
}
footer a {
    color: rgb(255, 255, 255) !important;
    
}
.ht-1{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.21);
}





.mobilenewss .mobilbtn1 {
    background-color: #1dcc66 !important;
    padding: 16px 14px!important;
    border-radius: 0;
}


.new-video-tutorial {
    padding: 30px 0 30px;
    background-color: #f4f4f4;
}

.video-toturial-section .video-img {
    margin-bottom: 13px;
    padding: 0;
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #efefef;
}
.video-toturial-section .video-img img {
    width: 100%;
    margin-bottom: 4px;
}
.video-toturial-section .bh-vido {
    font-size: 16px;
    color: #000;
    font-style: normal;
    display: block;
    padding: 2px 5px 5px;
    min-height: 53px;
    overflow: hidden;
}

.video-toturial-section .carousel-indicators {
    bottom: 10px;
    left: 0 !important;
    list-style: outside none none;
    margin-left: -0%!important;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 100% !important;
    height: 5px;
    z-index: 15;
    top: auto;
    display: block;
       bottom: -14px;
}

 
 

 
.video-toturial-section .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.78)!important;
    border: 1px solid rgb(6, 161, 31)!important;
    border-radius: 0px!important;
    cursor: pointer;
    display: inline-block;
    height: 5px !important;
    margin: 2px 0px!important;
    text-indent: inherit!important;
    width: 5px !important;
    padding: 5px 5px 5px !important;
    color: #000 !important;
    font-size: 14px!important;
    opacity: 1;
    position: relative;
    text-align: left;
    float: none;
    border-radius: 100% !important;
}
.video-toturial-section .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color:rgb(6, 161, 31)!important;
}
.hide-bullets .col-sm-3 {
    padding: 0;
}

.hide-bullets .thumbnail {
   
    padding: 1px;
 
    
    margin: 1px 1px 1px;
}

.banner-news{}
.caption-news{}
 
 .txt2-news{    color: #111;
    line-height: 20px;
    margin-bottom: 0px;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 700;}
.txt2_subtitle{    color: #777;
    margin-bottom: 15px;
    padding-top: 5px;
    font-size: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;}
 
 .txt3-news {
    color: #777;
    font-size: 14px;
    padding-bottom: 30px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
 
 .banner-news img{width:100%;}
.banner_inner-news{display: block;
    text-decoration: none;
    position: relative;
    background: none;
    padding: 0px;
    text-align: left;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;}
 
 .caption-news{background: #fff;
    padding: 25px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);}

	
	
.placement-sectin {
    padding: 30px 0 30px;
    background: #f4f4f4;
}
	
	
	
	
	
 

.suga-slider-wrap {
  overflow: hidden;
  margin: 1em;
}

.suga-slider-group:before, .suga-slider-group:after {
  content: " ";
  display: table;
}
.suga-slider-group:after {
  clear: both;
}

.suga-slide {

}

	
	.placement-sectin ul{}
	
.placement-sectin ul li {
    width: 16.64%;
    float: left;
    position: relative;
    margin-left: 0;
    padding-right: 8px;
}
	
	
.placment-box {
    border: 1px solid #e2e2e2;
    background: #fff;
}
.plac-img{}	
	
.plac-img img {
    width: 100%;
    min-height: 235px;
    max-height: 235px;
}
.palc-desr {
    text-align: center;
}
		.palc-desr h4{}
	
	.palc-desr p{}
	
	
	
	
	/**********color*******/
	
	
.color-1{background-color: #1dcc66;}

.main-title:before {
    border-color: #1dcc66;
}
 .main-title:after {
    
  border-color: #1dcc66;;
}
	
.border-color{border-color: #1dcc66;}	
	
	
	