
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family:Montserrat;
}

h1{ font-size: 30px; }
/* slider section start */

#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 500px;
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}

#first-slider h4 {
  animation-delay: 2s;
}

#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(../images/course.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(../images/course1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url(../images/course2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-image: url(../images/course3.jpg);                            
      background-size: cover;
    background-repeat: no-repeat;
}




/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
      
}
@media screen and (max-width: 640px){
      
}



/* slider section end */



/* courses.php start  */


#onlinecourses{
	
}

.aboutuscourses {
    padding: 80px 0 80px;	
}

.about123 img{
    width: 100px;	
}

.about123 h1 {
	    font-size: 30px;
    margin-top: 0;
    font-weight: 600;
        padding: 0 0 25px;

}

.about123{
     text-align: center;
    
}

.abhr{    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
    border: 0;
    border-top: 3px solid #9E9E9E;
}
.onhr{
  margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    border: 0;
    border-top: 3px solid #9E9E9E;

}
.about1234 {
    padding: 34px 0 5px;	
}

.about1234 img{
	width: 100%;
}

.ptextsets {
	
}

.ptextsets p {
	font-size: 14px;
    color: #333;
    line-height: 30px;
}

.litercis {
    padding-top: 40px;	
}

.litercis ul {
	list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.litercis ul li {
   padding: 09px 21px 09px;
    font-size: 14px;
    display: initial;
    color: #fff;
    margin-left: 4px;
    font-weight: bold;
    border-radius: 30px;

    background:#375963;
}

.litercis ul li span {
	margin-right: 12px;
    font-size: 22px;
    color: #fff;
}

.onlinesscourses {
	background:rgba(238, 238, 238, 0.56);
    padding: 50px 0 50px;
}

.onlinesscourses h1{
    font-weight: bold;
    font-size: 30px;
    padding: 0 0px 50px;
    text-align: center;
}

.onlinesscourses h4 {
	font-size: 22px;
    padding: 0 20px 0;
}

.celpss {
	
}

.celpss img {
    width:84%;	
}

.celpss1 {
	
}

.celpss1 h2{
	font-size: 21px;
    font-weight: bold;
    padding: 2px 20px 0;	
}

.celpss1 h3{
	margin-top: 0;
    font-size: 12px;
    padding: 0 17px 0;
    color: #777;
    line-height: 21px;
}

.celpss1 h5{
	padding: 5px 18px 26px;
    color: #00A0D1;
    font-size: 12px;                       
}

.spsssv {
	padding-right:0px;
}

.spsssv1 {
	padding-left: 0;
    background: #fff;
        margin: 0px 0 0 -43px;
    border-left: solid 1px #fff;         
    box-shadow: 1px 1px 0px 1px #ccc;                              
}

.ssssrorrr{
	padding-top: 40px;
}

.onlineformss12 {
	background-image: url(../images/university.jpg);
	width: 100%;
	background-position: 100% 100%;
	background-repeat: no-repeat;
    padding: 0 0 65px;   	
}

.onlineformss12 h1{
	text-align: center;
    padding-top: 30px;
    color: #fff;
    font-weight: 100;
    font-size: 30px;
    padding-bottom: 10px;
}

.onlineformss12 hr{
	border-top: 4px solid #0769D6;
    width: 14%;
	
}

.onlineformss12 h4{
    padding: 4px 150px 40px;
    color: #D5343C;
    text-align: center;
    line-height: 26px;
	
}

.saftiess {
    padding: 20px 30px 20px;                   
}

.saftiess1 {
    text-align: center;		
}

.saftiess1 img{
    width: 72px;   
}

.saftiess h2{
	text-align: center;
    color: #D5343C;
    font-size: 24px;
}

.saftiess h4{
	padding: 15px 0 0;
    text-align: center;
    line-height: 24px;
    color: #fff;
}

.dbffg {
	padding-top: 40px;
}

.testimonialssa1 {
	background-image: url(../images/testtimonials2.jpg);
    width: 100%;
    padding: 0 0 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.testimonialssa1 .carousel-control.left{
    left: -25px;
    top: 130px;
    font-size: 30px;
}

.testimonialssa1 .carousel-control.right{
    right: -25px;
    top: 130px;
    font-size: 30px;
}

.testimonialssa1 h2{
	text-align: center;
    color: #fff;
    padding: 32px 0 25px;
    font-size: 30px;
    font-weight: bold;
}

.testimonialssa1 hr{ 
	border-top: 3px solid rgba(255, 255, 255, 0.75);
    width: 16%;	
}


/* testimials start  */


.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
.sprite {
}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #fff;
    display: block;
    font-size: 17px;
    margin-top: 3px;
    text-decoration: none;
    font-weight: bold;
}
.person-text i {
	color: #00A0D1;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;
}
.rel {
    position: relative;
}



/* testimials end  */



.services123456 {
	
}

.services123456 img {
	width: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;	
}

.newsletterss1 {
    padding: 70px 0 60px; 	
}

.newsletterss1 img{
    width: 400px;	
}

.newsletterss1 h1{
		
}

.newsletterss1 p{
	font-size: 15px;
    line-height: 30px;
    color: #333;
    padding: 21px 0 30px;
}

.newsletterss1 .btnssets {
	width: 70%;
    height: 50px;
    font-size: 17px;
    border: solid 2px #ccc;
    padding: 0 14px 0;
    border-right: none;	
}

.newsletterss1 .btnssets1 {
	padding: 14px 34px 13px;
    font-size: 15px;
    text-transform: uppercase;
    background: #375963;
    border: solid 1px #375963;
    color: #fff;
    position: relative;
    right: 3px;
    cursor: pointer;
}

.newsletterss1 .btnssets1:hover {
	padding: 14px 34px 13px;
    font-size: 15px;
    text-transform: uppercase;
    background:rgba(55, 89, 99, 0.95);
    border: solid 1px #375963;
    color: #fff;
    position: relative;
    right: 3px;
    cursor: pointer;
}


.mobileapps {
    background-color: #f5f6f1;
    padding: 70px 0 0px;
}

.mobileapps h1{
	color: #000;
    font-weight: bolder;
    line-height: 44px;
    font-size: 30px;
}

.mobileapps u{
	
}

.mobileapps h4{
    font-size: 15px;
    color: #333;
    line-height: 30px;
    padding-top: 8px;	
}

.mobileapps .imgss {
    width: 100%;	
}

.mobilenewss {
	
}

.mobilenewwww1 {
	padding-top: 60px;
    padding-left: 0;
}

.mobilenewwww1 .col-md-4{
	
}

.mobileapps .imgg1 {                   
    width: 400px;	
}

.mobilenewss .mobilbtn {
	width: 52%;
    height: 58px;
    margin-top: 4px;
    font-size: 17px;
    padding: 0 10px 0;
    border: solid 2px #375963;
    color: #375963;
    background: transparent;
}

.mobilenewss .mobilbtn1 { 
	width: 12%;
    font-size: 22px;
    background-color: #375963;
    border: solid 1px #375963;
    padding: 16px 0 18px;
    color: #fff;
    position: relative;
    right: 4px;
    top: 1px;
}



@media (max-width: 767px) {
	
	
	#first-slider .carousel .item {
    min-height: 298px;
}
	
	#first-slider .slide3 {
    background-size: 100% 100%;
   
}

.about123 .col-md-3 {
	text-align: center;
}

.about123 .col-md-9 {
    border-right: none;
}

.about123 h1 {
    font-size: 27px;
    margin-top: 24px;
    text-align: center;
}

.aboutuscourses {
    padding: 29px 0 50px;
}

.ptextsets p {
    text-align: justify;
}

.onlinesscourses h1 {
    font-weight: 100;
    font-size: 35px;
    padding: 0;
    text-align: center;
}

.onlinesscourses h4 {
    padding: 0;
    text-align: center;
}

.spsssv1 {
    width: 93%;
    margin-left: 15px;
    margin-top: -20px;
}

.celpss1 h2 {
    padding: 14px 20px 0;
}

.celpss1 h3 {
    text-align: center;
}

.celpss1 h5 {
    font-size: 18px;
    text-align: center;
}

.onlineformss12 {
    background-repeat: initial;
}

.dbffg {
    padding-top: 10px;
}

.newsletterss1 .btnssets {
    width: 100%;
    margin-bottom: 10px;
    border-right: solid 2px #ccc;	
}

.newsletterss1 .btnssets1 {
    margin-left: 41px;
}

.newsletterss1 h1 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 64px;
}

.mobileapps h1 {
    line-height: 37px;
    font-size: 21px;
}

.mobileapps h4 {
    text-align: center;
}

.mobilenewwww1 {
    padding-top: 20px;
    padding-left: 0;
}

.mobilenewss .mobilbtn {
    width: 80%;
}

.mobilenewss .mobilbtn1 {
    width: 18%; 
}

.mobileapps .imgss {
    width: 97%;
}

.sssffd {
    padding-top: 40px;	
}

.mobileapps {
    margin-bottom: -10px;
}




	
	
}





 



/* courses.php end  */
