




























.carousel-row {
    margin-bottom: 30px; 
}

.lataeestresulstts11 .slide-row {
    padding: 0;
    background-color: #ffffff;
    min-height: 150px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    height: auto;
    position: relative;
    width: 31%;
    margin-left: 20px;
}

.lataeestresulstts112 .slide-row {
    padding: 0;
    background-color: #ffffff;
    min-height: 150px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    height: auto;
    position: relative;
    width: 31%;
    margin-left: 20px;
}


.slide-carousel {
    width: 20%;
    float: left;
    display: inline-block;
}

.slide-carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.slide-carousel .carousel-indicators li {
    border-radius: 0;
    width: 20px;
    height: 6px;
}

.slide-carousel .carousel-indicators .active {
    margin: 1px;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 22%; 
    display: block;
    float: left;
    width: 80%;
    max-height: 76%;
    padding: 1.5% 2% 2% 2%;
    overflow-y: auto;
}

.slide-content h4 {
    margin-bottom: 3px;
    margin-top: 0;
}

.slide-footer {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 78%;
    height: 20%;
    margin: 1%;
}

/* Scrollbars */
.slide-content::-webkit-scrollbar {
  width: 5px;
}
 
.slide-content::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}
 
.slide-content::-webkit-scrollbar-button:start:decrement,
.slide-content::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

.carousel-inner {
    min-height: 170px !important; 
}











.slide-content p {
	color: #333;
    font-size: 18px;
}



.jfgvbdj p span {
    font-size: 17px;
    color: #666;
    font-weight: 600;
}

.lataeestresulstts11 {
    background-color: #f4f4f4; 	
}

.lataeestresulstts11 h1 {
    color: #333 !important;
    font-size: 32px !important;                 
    font-weight: bold;
    padding-bottom: 24px;
}

.lataeestresulstts11 hr {
    padding-bottom: 30px;
}

.lataeestresulstts11 .slide-content1 h4 {
	text-align: left;
    color: #000;
}

.lataeestresulstts11 .slide-content1 h5 {
	text-align: left;
    color: #FF9800;
    font-weight: bold;
	font-size: 18px;
}

.lataeestresulstts11 .slide-content1 p {
    text-align: left;
    color: #333;
    font-weight: 600;
}

.lataeestresulstts11 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%; 
	height: 200px;
}

.lataeestresulstts11 .carousel-inner .item {
	top: 16px;
}







.lataeestresulstts112 {
    background-color: #fff;
}

.lataeestresulstts112 h1 {
    color: #333 !important;                                  
    font-size: 32px !important;
    font-weight: bold;
    padding-bottom: 24px;
}

.lataeestresulstts112 hr {
    padding-bottom: 30px;
}

.lataeestresulstts112 .slide-content1 h4 {
	text-align: left;
    color: #000;
}

.lataeestresulstts112 .slide-content1 h5 {
	text-align: left;
    color: #FF9800;
    font-weight: bold;
	font-size: 18px;
}

.lataeestresulstts112 .slide-content1 p {
    text-align: left;
    color: #333;
    font-weight: 600;
}

.lataeestresulstts112 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%; 
	height: 200px;
}

.lataeestresulstts112 .carousel-inner .item {
	top: 16px;
}

.ourfac_all {
	background-color: #f4f4f4; 
}

.ourfac_all p {
	font-size: 18px;
    color: #666;
}

.ourfac_all .heading-title h3 {
	font-size: 30px;
    color: #333;
    font-weight: 600;
    padding-top: 21px;
}

.ourfac_all .heading-title {
    margin-bottom: 60px;
}

.ourfac_all .team-title h5 {
    color: #333;
    font-weight: 600;
    padding-bottom: 4px;
}

.ourfac_all .team-title span {

    color: #999;
    font-size: 13px;
	
}

.ourfac_all .thumbnail {
    border-bottom: 1px solid #ddd;
	padding: 5px;
}

.mobileapps {
    background-color: #548694 !important;
    padding: 70px 0 0px;
}

.mobileapps h1 {
    color: #fff !important;
    font-size: 35px !important;
}

.mobilenewss .mobilbtn1 {
    
    background-color: #548694 !important;
    border: solid 1px #fff !important;
    padding: 15px 0 15px !important;
    top: 0px !important;
	
}

.mobilenewss .mobilbtn {
   
    border: solid 2px #666 !important;
    color: #fff !important;
    background-color: #fff !important;
	border-right: none !important;
}

.jfgvbdj {
    background: rgba(0, 0, 0, 0.06) !important;
}

.mock-testi .kjbvncvj p {
	font-size: 20px;
    color: #666;
}



.viseo-bh-section .kjbvncvj h1 {
	font-size: 32px !important;
}

.bh-larn  .kjbvncvj h1 {
	font-size: 32px !important;
}

.kd-pagesection .thememargin h3 {
	color: #333;
    font-size: 28px;
    font-weight: 600;
}

.kd-pagesection .thememargin p {
	color: #000;
    font-size: 20px;
}

.block-text p {
    color: #999 !important;
    line-height: 25px !important;
    font-size: 17px !important;    
}




































.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
    box-shadow: 0px 0 0 0 #ccc;	
}


.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.col-item:hover .info {
    background-color: #fff;
}









.latessstnewsswwj {
    background-color: #f4f4f4;	
}

.latessstnewsswwj h1  {
    font-size: 32px !important;
    padding-bottom: 34px;
    font-weight: 600;	
}

.latessstnewsswwj .info h3 {
    font-size: 21px;
    padding-bottom: 0px;
    color: #FF5722;
    font-weight: bold;
    text-transform: uppercase;
}

.latessstnewsswwj .info h4 { 
    color: #FF9800;
    font-weight: bold;	
}

.latessstnewsswwj .info p {
	text-align: center;
    padding: 0 18px 0px;
    color: #666;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
}

.btn-resulttsss {
    padding: 9px 0 12px;	
}

.btn-resulttsss .btnsuccess{
    background-color: #F55B0C;
    font-size: 17px;
    font-weight: 600;
    padding: 6px 17px 8px;
    border-radius: 2px;
    cursor: pointer;	
}

.col-iteems {
	
}

.col-iteems img{ 
	
}











