.my-1 .part-1 li {
    height: 210px;
    padding-top: 40px;
    width: 100%;	
}
.my-1 {
    margin-top: 50px;
}
.part-1{
    position: relative;
    top: -60px;
	margin-bottom: -50px;
}

.carousel-control.right {
    top: 0px;
}
.carousel-control.left {
    top: 0px;
}
 .part-1 ul{   
    display: inline-flex;
	width:100%;
	text-align:center;
}
.part-1 span{
	padding: 33px;
	width:100%;

}
.part-1 li h3{
	font-family: "Montserrat", sans-serif;
    font-weight: 700;
	font-size: 18px;
}
.part-1 li {
    height: 250px;
    padding-top: 55px;
    width: 100%;
    color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}
.part-1 .img1 {
	background: #4886ff;
}
.part-1 .img2 {
	background: #FF9800;
}
.part-1 .img3 {
	background: #97dc27;
}
.part-1 .img4 {
	background: #E91E63;
}
.part-1 .img5 {
	background: #9C27B0;
}
.part-1 .img6 {
	background: #009688;
}
.part-1 .img7 {
	background: #FFC107;
}
.part-1 .img8 {
	background: #607D8B;
}
.part-1 li:hover {
	text-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow:unset;
    background: #548694;	
	cursor:pointer;
}
.my .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.my .owl-carousel .owl-wrapper-outer {
    border-right: unset;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 35px!important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 35px!important;
}
.zz{
    z-index: 99;
    position: relative;
    display: inline-block;
}

.zz button{
	background-image: linear-gradient(-90deg, #FFC107, #FF5722);
    color: white;
    padding: 8px 20px;
    margin: 25px 0 9px 0;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid;
    font-weight: bold;
    width: 100%;
    opacity: 0.9;
}
	
 #owl-demo .item {
    margin: 20px;
    height: 350px;
    background: white;
    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: 0.5s ease;

}
.owl-buttons{
    position: absolute;
    top: 250px;
    width: 100%;
}

 #owl-demo .item img{
    display: block;
    width: 100%;
    height: 190px;
}

 #owl-demo .item p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-left: 10px;
    color: #727272;
    line-height: 17px;
}

.owl-wrapper{
    width: 5274px;
    left: 0px;
    height: 400px;
    display: block;
    transition: all 1000ms ease 0s;
    transform: translate3d(0px, 0px, 0px);
}

#demo h2, #demo1 h2, #demo2 h2, #demo3 h2, #demo4 h2, #demo5 h2, #demo6 h2, #demo7 h2, #demo8 h2, #demo9 h2, #demo10 h2, #demo11 h2 {
	font-size: 25px;
    font-weight: 100;
    color: white;
    float: left;
    border: 1px solid;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: linear-gradient(-90deg, #FFC107, #FF5722);
    padding: 10px 40px 10px 40px;
}
.owl-carousel .owl-item {
    height: 424px;
	}
#demo1 h2, #demo2 h2, #demo3 h2, #demo4 h2, #demo5 h2, #demo6 h2, #demo7 h2, #demo8 h2, #demo9 h2, #demo10 h2, #demo11 h2 {
    margin: 15px 0 15px 0px;
	}

header .header-body .is-sticky .edu-navbar {
    background-image: linear-gradient(-100deg, #4886ff,#4886ff, #4886ff5c,#4886ff);
}
.my .owl-carousel .item {
    text-align: unset;
}
.product_name{
	font-family: sans-serif;
	text-align: center;
	font-size: 18px;
    font-weight: 700;
    padding: 20px 0px 5px 10px;

}
.product_price {
	font-family: serif;
    font-size: 17px;
    float: right;
    color: black;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px 0px 0 0px;
}
.rating{
	padding: 0px 0px 0 10px;
	color: orange;
}
.rating a, .rating a:hover {
    color: #795548;
    text-decoration: none;
}

.view:hover{
color: #f91d0d;
background:white;
}
.view{
    border-radius: 2px;
    padding: 1px 3px 1px 4px;
    border: 1px solid #f40909;
    float: left;
    background: #f91d0d;
    color: white;
    font-size: 12px;
    margin: 10px 0 0 10px;
    cursor: pointer;
}
.view .fa{
    margin-left: 5px;
}
.span12{
margin-top: 10px;
}
.dropdown button {
    background-image: linear-gradient(-90deg, #FFC107, #FF5722);
    color: white;
    padding: 8px 20px;
    margin: 25px 0 9px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    opacity: 0.9;
}
.dropdown button:hover {
     background-image: linear-gradient(-90deg, #FF5722, #FFC107);
}


.dropdown {
  z-index: 99;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.owl-prev {
    color: #9acd3200;
    position: relative;
    float: left;
}



.owl-prev:before{
	font-family: "FontAwesome";
    content: "\f053";
    position: absolute;
    top: 13px;
    right: 0px;
    font-size: 27px;
    color: #0e0e0e;
    left: 12px;
    margin: auto;
    line-height: 10px;
}

.owl-next {
    color: #9acd3200;
    position: relative;
    float: right;
}



.owl-next:before{
	font-family: "FontAwesome";
	content: "\f054";
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 27px;
    color: #0e0e0e;
    left: 6px;
    margin: auto;
    line-height: 10px;
}
.tab{
    margin-top: 90px;
}
.tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background: #ff0401;
}
.tab a {
    background: linear-gradient(-90deg, #FFC107, #FF5722);
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.tab .nav-tabs>li>a {
    border-radius: unset;
}
.tab .nav>li>a {
    padding: 10px 45px;
}
.tab .nav-tabs {
    border-bottom: unset;
	padding-left: 90px;
}










@media only screen and (max-width: 767px) {
.owl-next:before {
    top: 13px;
    left: 6px;
}
.owl-prev:before {
    top: 13px;
    left: 10px;
}
.tab {
    margin-top: 30px;
}
.tab .nav-tabs {
    padding-left: 0px;
}
.tab .nav-tabs {
    display: inline-flex;
}
.tab .nav>li>a {
    padding: 3px 9.89px;
    font-size: 15px;
}
.part-1 ul {
    display: unset;
	padding-left:55px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: auto !important;
}

.my-1 .part-1 li {
    width: 100%;
}
.my-1 .part-1 {
    position: relative;
    top: -15px;
	margin-bottom: 0px;
}
.my-1 {
    margin-top: 5px;
}
#demo h2 {
    font-size: 15px;
}
.zz button {
    font-size: 12px;
}
.my .part-1 {
	position: absolute;
    top: 210px;
    width: 100%;
    padding-right: 30px!important;
}
.part-1 li {
    width: 100%;
}
#demo {
    padding-top: 0px;
}
.carousel-inner {
    margin-bottom: 800px;
}
.zz {
    z-index: 7;
}
.header-middle .col-sm-12{
	margin-top: 0px;
    margin-bottom: 0px;
}

}



