


#logo a img {
    width: 150px!important;
    height: 50px!important;
}


.kd-followus-widget ul li a {
    float: left;
    width: 100%;
    background-color: #3b5998;
    color: #ffffff!important;
    padding: 16px 14px 10px!important;
    text-align: center;
    font-size: 22px;
    position: relative;
    border-radius: 100%!important;
    height: 45px!important;
    line-height: 45px!important;
}


.site-navigation li a {
    border: 1px solid rgb(55, 89, 99);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 9px 19px 9px!important;
    font-size: 14px;
    list-style: none;
    background: #375963;
    text-transform: uppercase;
}


.nmmm .img-hfh img {
    width: 100%;
    max-height: 200px!important;
    min-height: 200px!important;
}

.slider-bh h1 {
    color: #fff!important;
    font-size: 26px!important;
}

.list-group .list-group-item {
    list-style-image: url(../images/arrow-sumit.png) !important;
    display: list-item;
    list-style-position: inside;
    border: 1px solid #ddd!important;
}


.list-group-item {
    background-color: rgba(244, 244, 244, 0.38) !important;
    border: 0px solid rgba(221, 221, 221, 0.37) !important;
    color: #fff !important;
    display: block;
  font-weight: normal !important;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
    text-align: left !important;
    font-size: 14px!important;
}

.mff .pagination{
	    margin: 0 0 15px!important;
}

.mff .paper .option {
        margin-right: 11px;
    margin-top: 6px;
    font-size: 15px;
    padding: 0px 16px;
    padding-bottom: 0px;
    float: none;
    width: 317px;
    margin: 13px 0px;
    color: #000;
    min-height: auto;
    display: inline-block;
}
.jojo-togel {
    color: #fff !important;
    display: block;
}
.mff .paper li img {
    width: auto!important;
}

.mff .pagination > li:first-child > a, .mff .pagination > li:first-child > span {
    display: block;
}

.mff .paper{
	overflow:hidden!important;
	max-height: 100%!important;
	    border: 1px solid rgba(227, 226, 226, 0.58)!important;
}










@media (max-width: 767px)
{
#logo a img {
    width: 125px!important;
    height: 56px!important;
    margin-left: -27px;
    margin-top: 0;
}}